@font-face {
	font-family: 'Arial-r';
	src: url('../font/Arial-r.ttf') format('truetype'); 
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Helvetica-B';
	src: url('../font/UHelvetica-B.ttf') format('truetype'); 
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Helvetica-R';
	src: url('../font/Helvetica-R.ttf') format('truetype'); 
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'helvetica-roman';
	src: url('../font/helvetica-roman.ttf') format('truetype');	 
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Bebas-Neue';
	src: url('../font/Bebas-Neue.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url('../font/Lobster.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
